@import "compass/layout";
@import "compass/css3";

@include sticky-footer(60px,"#layout","#footer");

#footer{
	background-color: $green-3;
	@include box-shadow(rgba(black,0.4) 0 0 5px);
	div {
		text-align: center;
		font-size: 30px;
		padding-top: 15px;
		color: white;
		a {
			text-decoration: none;
			color: white;
			&:hover {
				color: $green-2;
			}
		}
	}
}
