@import "compass/css3";
$main-content-width: 1080px;
$main-content-height: 980px;

.main-content {
	width: $main-content-width;
	background-size: 100% 100%;
	position: relative;
	margin: auto;
	.girl-block {
		background-color: #DEEDE0;
		margin-top: 2px;
		margin-left: 5px;
		overflow: hidden;
		@include box-shadow(rgba(black,0.4) 0 0 5px);
		&:hover {
			@include box-shadow(rgba(black,0.6) 0 0 8px);
			img {
				width: 105%;
			}
		}
		img {
			width: 100%;
			transition: width 0.5s ease 0s;			
		}
		.text {
			position: absolute;
			bottom: 0;
			padding: 2px 2px 0 2px;
			transition: bottom 0.5s ease 0s;
			background-color: rgba(0,0,0,0.4);
			color: white;
			.name {
				font-size: 20px;
				margin-bottom: 5px;
			}
		}
	}
}
