@import "compass/css3";
$main-content-width: 980px;
$main-content-height: 980px;

.main-content {
	@include display-flex;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	@include justify-content(center);
	@include align-content(flex-start);
	width: $main-content-width;
	height: $main-content-height;
	margin: auto;
	.girl-block {
		width: 200px;
		height: 300px;
		background-color: black;
		margin: 10px;
		overflow: hidden;
		img {
			max-width: 100%;			
		}
	}
}
