html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0; }

header {
  position: fixed;
  width: 100%;
  background-color: #008000;
  height: 60px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px; }
header .logo {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 10px; }
header .button {
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 100%; }
header .button img {
  background-color: #008000;
  z-index: -1;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer; }
header .button img:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 7px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 7px; }

.main-content {
  width: 980px;
  margin: auto;
  padding-top: 120px; }
.main-content .text {
  font-size: 20px;
  line-height: 30px;
  color: #008000;
  position: relative; }
.main-content .text .preview {
  display: block;
  text-decoration: none;
  position: absolute;
  padding: 0 5px 0 5px;
  top: 80px;
  right: 60px;
  color: white;
  background-color: #008000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px; }
.main-content .text .preview:hover {
  color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px; }
.main-content .text a {
  text-decoration: none;
  color: #A7E4B4; }
.main-content .text a:hover {
  color: #008000;
  font-weight: bold; }
.main-content h2 {
  font-size: 50px;
  color: #008000;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #B7B7B7; }
.main-content h2:before {
  content: url("../image/jianjie.png"); }
.main-content .start {
  background-color: #008000;
  color: white;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  cursor: pointer; }
.main-content .start:hover {
  font-weight: bold; }
.main-content ul {
  margin-top: 20px;
  padding-left: 10px;
  border-left: 5px solid #008000; }

.dialog-bg {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }
.dialog-bg .dialog {
  width: 500px;
  min-height: 500px;
  max-height: 800px;
  overflow: auto;
  background-color: #EDEDED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  margin: 100px auto auto auto; }
.dialog-bg .dialog form {
  width: 380px;
  margin: auto; }
.dialog-bg .dialog form input {
  width: 150px;
  margin-bottom: 10px; }
.dialog-bg .dialog h1 {
  padding: 20px 0 10px 0;
  text-align: center;
  font-size: 40px;
  color: #008000; }
.dialog-bg .dialog h2 {
  font-size: 35px;
  color: #008000;
  margin-bottom: 10px;
  position: relative; }
.dialog-bg .dialog h2:before {
  content: url("../image/logo2.png"); }
.dialog-bg .dialog .add {
  color: white;
  background-color: #008000;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 155px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  cursor: pointer; }
.dialog-bg .dialog .add:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px; }

body {
  background-color: #DEEDE0; }
