html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0; }

.main-content {
  width: 1080px;
  background-size: 100% 100%;
  position: relative;
  margin: auto; }
.main-content .girl-block {
  background-color: #DEEDE0;
  margin-top: 2px;
  margin-left: 5px;
  overflow: hidden;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px; }
.main-content .girl-block:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px; }
.main-content .girl-block:hover img {
  width: 105%; }
.main-content .girl-block img {
  width: 100%;
  transition: width 0.5s ease 0s; }
.main-content .girl-block .text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2px 2px 0 2px;
  transition: bottom 0.5s ease 0s;
  background-color: rgba(0, 0, 0, 0.4);
  color: white; }
.main-content .girl-block .text .name {
  font-size: 20px;
  margin-bottom: 5px; }

body {
  background-color: #DEEDE0; }
